@font-face {
  font-family: NeueHaasDisplayRoman;
  src: url('/fonts/NeueHaasDisplayRoman.ttf');
}

@font-face {
  font-family: NeutronsDemoRegular;
  src: url('/fonts/NeutronsDemoRegular.ttf');
}

html,
body {
  margin: 0;

  font-family: NeueHaasDisplayRoman;
  letter-spacing: 2px;
  color: var(--colors-white);
}

body {
  overflow-y: scroll;
}
